In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/reviews.csv')

df

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!,2000-01-25T21:44:00Z,2000-01-25T21:44:00Z
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ...",2001-10-17T16:49:59Z,2001-10-17T16:49:59Z
2,9,4523,2046,Gay Gilmore ckpt,2,i think i did something wrong because i could ...,2000-02-25T09:00:00Z,2000-02-25T09:00:00Z
3,13,7435,1773,Malarkey Test,5,easily the best i have ever had. juicy flavor...,2000-03-13T21:15:00Z,2000-03-13T21:15:00Z
4,14,44,2085,Tony Small,5,An excellent dish.,2000-03-28T12:51:00Z,2000-03-28T12:51:00Z
...,...,...,...,...,...,...,...,...
1401977,2090339,139499,2002080368,terrylbiggs,2,I was disappointed. I couldn't wait to make th...,2020-12-27T23:57:54Z,2020-12-27T23:57:54Z
1401978,2090340,148484,41805321,rogerberry,5,Nothing to drain. And I don’t heat up the liqu...,2020-12-28T00:44:42Z,2020-12-28T00:44:42Z
1401979,2090341,264191,2002901848,Reiketsukan 6.,5,Good base recipe for someone to start with. I ...,2020-12-28T01:04:43Z,2020-12-28T01:04:43Z
1401980,2090345,411791,2002901938,Sue M.,5,Thank you so much for this amazing recipe! I l...,2020-12-28T03:07:10Z,2020-12-28T03:07:10Z
1401981,2090347,352686,2002812127,dede25cory,5,I can't say enough about this recipe.... the b...,2020-12-28T03:23:48Z,2020-12-28T03:23:48Z

In [7]:
df = df[['ReviewId', 'RecipeId', 'AuthorName', 'Rating', 'Review', 'DateSubmitted']]

df = df.rename(columns={
    'ReviewId': 'id',
    'RecipeId': 'recipe_id',
    'AuthorName': 'author_name',
    'Rating': 'rating',
    'Review': 'content',
    'DateSubmitted': 'created_at'
})

df.dropna(inplace=True)

df

,id,recipe_id,author_name,rating,content,created_at
0,2,992,gayg msft,5,better than any you can get at a restaurant!,2000-01-25T21:44:00Z
1,7,4384,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ...",2001-10-17T16:49:59Z
2,9,4523,Gay Gilmore ckpt,2,i think i did something wrong because i could ...,2000-02-25T09:00:00Z
3,13,7435,Malarkey Test,5,easily the best i have ever had. juicy flavor...,2000-03-13T21:15:00Z
4,14,44,Tony Small,5,An excellent dish.,2000-03-28T12:51:00Z
...,...,...,...,...,...,...
1401977,2090339,139499,terrylbiggs,2,I was disappointed. I couldn't wait to make th...,2020-12-27T23:57:54Z
1401978,2090340,148484,rogerberry,5,Nothing to drain. And I don’t heat up the liqu...,2020-12-28T00:44:42Z
1401979,2090341,264191,Reiketsukan 6.,5,Good base recipe for someone to start with. I ...,2020-12-28T01:04:43Z
1401980,2090345,411791,Sue M.,5,Thank you so much for this amazing recipe! I l...,2020-12-28T03:07:10Z
1401981,2090347,352686,dede25cory,5,I can't say enough about this recipe.... the b...,2020-12-28T03:23:48Z

In [ ]:
df.to_csv('output/parsed_reviews.csv', index=False)